.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.thumbnail-container img {
  width: 60px;
  margin: 5px;
  cursor: pointer;
}

.main-image-container img {
  width: 100%;
  max-width: 400px;
}

.product-details {
  max-width: 100%;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.price {
  font-size: 1.4rem;
  color: green;
  margin-top: 10px;
}

.quantity-selector {
  margin-top: 20px;
}

.quantity-button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.quantity-number {
  font-size: 18px;
  width: 40px;
  text-align: center;
}

.action-buttons .btn {
  padding: 10px 20px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .product-title {
      font-size: 1.3rem;
  }

  .price {
      font-size: 1.2rem;
  }

  .quantity-selector h3 {
      font-size: 1.2rem;
  }

  .quantity-button {
      width: 25px;
      height: 25px;
      font-size: 16px;
  }

  .quantity-number {
      font-size: 16px;
      width: 30px;
  }

  .action-buttons .btn {
      font-size: 14px;
      padding: 8px 16px;
  }
}
