.custom_card {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

.custom_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom_card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.product_heading {
    padding: 15px 10px;
    font-size: 18px;
    color: #4b4b4b;
    margin: 10px 0;
}

.product_author {
    font-size: 16px;
    color: #000;
    margin: 5px 0;
}

.product_category {
    display: block;
    font-size: 14px;
    color: #4CAF50;
    margin: 10px 0;
    text-decoration: none;
}

.product_category:hover {
    text-decoration: underline;
}
